# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

#Rockspoon
export MONGO_URL=localhost
export MONGO_DB_NAME=test
export NAMESPACE=dev
export JWT_PATH=~/Documents/go/src/bitbucket.org/rockspoon/auth.json

# Golang
export GO111MODULE=on
export GOPATH=~/Documents/go
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

#Rockspoon - RS
export RS_QUEUE_PROJECT='rockspoon'
export RS_QUEUE_NAMESPACE='default'
export RS_QUEUE_TOPIC_NAME='invite'
export RS_DB_MONGO_URL='{"username":"root","password":"fakePassword","addresses":[":27017"],"ssl":false,"source":"admin","database":"local-rs","dev":true}'
export RS_DB_MONGO_CONN='{"username":"root","password":"fakePassword","addresses":[":27017"],"ssl":false,"source":"admin","database":"local-rs","dev":true}'
export RS_DB_MONGO_NAME=admin

export RS_MS_FILE_PATH="${GOPATH}/src/github.com/rockspoon/rs.pay.merchant-registration-ms"
export SLACK_URL=https://hooks.slack.com/services/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

#Rockspoon - SOAJS
export SOAJS_ENV=DEV
export SOAJS_REGISTRY_API=127.0.0.1:11000
export SOAJS_DEPLOY_MANUAL=1
